#available{
	
	background-color:darkgreen;
}

#notavailable{
	background-color: darkgray;
	
}
#available1{
	background-color: darkgreen;
}
#notavailable1{
	background-color: darkgrey;

}
#available2{
	background-color: darkgreen;
}
#notavailable2{
	background-color: darkgrey;

}
#available3{
	background-color: darkgreen;

}
#notavailable3{
	background-color: darkgrey;

}